footer.footer
    div.container
        p= "Built by Tom Dunn"
        ul.footer-links
            li
                a(href="https://github.com/TomDunn/Noggler", title="Github")
                    ="Github"
