extends ../page-layout
block head-title
    title= "404!"
block content-header
    h1.text-error= "404! Not Found!?"
block content
    p.text-error= "The document you are looking for does not exist"
block body-scripts

