include ../includes/doctype
html
    include ../includes/head
    body
        include ../includes/main-nav
        div.container-fluid
            div.row-fluid
                div.span2
                    p= "sidebar"
                div.span6
                    include post
                div.span4
                    include ../includes/blogger-nav
        include ../includes/footer
        include ../includes/common-js
