extends ../page-layout
block head-title
    title= "Who is the blogger of this blog?"
block content-header
    h1= "Blogger Setup"
block content
    form(method="post")
        input(type="text", name="blogger_secret", placeholder="enter the secret")
        br
        button.btn(type="submit")
            ="verify!"
