extends page-layout
block head-title
    title= "Login"
block content-header
    h1="Login!"
block content
    p= "This site uses Google for authentication. "
        a(href='/auth/google')
            = "Sign-in with Google!"
